.dark {
  --theme: 'dark';

  --background: #0E1721 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAYAAABit09LAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADpSURBVHgBzVE9ysJAEH2b8FVaLHyuWI6df0WO4BE8Qm6gpZ1XiJWl3kA9QfQINqKV20dwG0WMyTqCQQgidvpgYXnzHjPzxkUOJWr2CrI84nc+mWiV8e5T0GoXpJryl4CkLyA6RVkOilLpo4m2okIeJYjHgCWL1N/rzTIz/1PDd4ABIBZQ1DooqnfxBvdxWNi0+AAOPsR3hVaXqDG9x/RKoMjzeOHQifS6ymvPE1xCJsaZQZInOboAiEMgnYnMKalGf3C7THRSgAvC5wMEV5yGRmsj8q0ehl2MpGr0RuMdXh3h1wJPYSd57gaBe0lIoryaeAAAAABJRU5ErkJggg==);

  --text-main: #C9EBFF;
  --text-secondary: #718EAB;
  --text-title: #80C5ED;
  --text-disable: #435E75;

  --surface-main: #213345;
  --surface-in-press: #142333;
  --surface-disable: #1F2A38;
  --surface-head-hover: #2A445E;
  --surface-popover: #25384E;

  --border-1: #30485C;
  --border-2: #385775;

  --neon-main: #73D0F5;
  --neon-hover: #4DAFD6;

  --indication-red: #EB5757;
  --indication-red-light: #FFA39E;
  --indication-red-dark: #261817;
  --indication-yellow: #FADB14;
  --indication-yellow-light: #FFFB8F;
  --indication-yellow-dark: #262617;
  --indication-gold: #F2994A;
  --indication-gold-light: #FFE58F;
  --indication-gold-dark: #262317;
  --indication-green: #4FA13A;
  --indication-green-light: #B7EB8F;
  --indication-green-dark: #172621;

  --daybreak-3: #91D5FF;

  --dust-red-1: #FFF1F0;
  --dust-red-6: #F5222D;

  --polar-green-8: #237804;

  --calendula-gold-1: #FFFBE6;
  --calendula-gold-6: #FAAD14;

  --geekblue-1: #F0F5FF;
  --geekblue-3: #ADC6FF;
  --geekblue-6: #2F54EB;
  --volcano-1: #FFF2E8;
  --volcano-3: #FFBB96;
  --volcano-6: #FA541C;
  --orange-1: #FFF7E6;
  --orange-3: #FFD591;
  --orange-6: #FA8C16;
  --lime-1: #FCFFE6;
  --lime-3: #EAFF8F;
  --lime-6: #A0D911;
  --cyan-1: #E6FFFB;
  --cyan-3: #87E8DE;
  --cyan-6: #13C2C2;
  --magenta-1: #FFF0F6;
  --magenta-3: #FFADD2;
  --magenta-6: #EB2F96;
  --purple-1: #F9F0FF;
  --purple-3: #D3ADF7;
  --purple-6: #722ED1;

  --menu-color: #213345;
  --menu-color-2: #2A445E;
  --menu-color-3: #1F2A38;
  --menu-color-4: #80C5ED;
  --menu-color-5: #435E75;
  --menu-color-6: #C9EBFF;
  --menu-color-7: #73D0F5;
  --menu-color-8: #718EAB;

  --clock-shadow: var(--surface-in-press);

  --keyboard-button-color: var(--surface-head-hover);
  --keyboard-button-color-hover: var(--border-2);
  --keyboard-button-color-active: var(--surface-in-press);
  --keyboard-button-color-disable: var(--surface-disable);
  --keyboard-button-text-color: var(--text-main);
  --keyboard-button-text-color-hover: var(--text-main);
  --keyboard-button-text-color-disable: var(--text-disable);
  --keyboard-button-border-color: var(--neon-hover);

  --button-solid-bg-color: var(--surface-head-hover);
  --button-solid-text-color: var(--text-main);

  --input-border-color: var(--surface-in-press);

}
