$ease-out: all .3s cubic-bezier(0.23, 1, 0.32, 1);

ul.drag-list, ul.drag-inner-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.drag-container {
    width: 100%;
    margin: 0px auto 10px auto;
    height: 100%;
    padding-top: 20px;
    border-radius: 5px;
    background-color: var(--surface-main);
}

.drag-list {
    display: flex;
    align-items: flex-start;
    height: 97%;
    border-radius: 5px;
    @media (max-width: 690px) {
        display: block;
    }
}

.drag-column {
    flex: 1;
    margin: 0 7px;
    position: relative;
    background: var(--surface-head-hover);
    overflow: hidden;
    border-radius: 5px;
    height: 100%;
    @media (max-width: 690px) {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 0.8rem;
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.drag-column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom:1px solid var(--dust-red-6);
    
}
.drag-column-header,
    .is-moved,
    .drag-options {
      background: var(--surface-in-press);
    }
.drag-inner-list {
    min-height: 50px;
    color: var(--text-main);
    border:1px solid var(--border-1);
    border-radius: 4px;
}
.drag-item {
    padding: 15px 20px 30px 15px;
    margin: 10px;
    color: var(--text-main);
    background: var(--surface-popover);
    transition: $ease-out;
    border-left:1px solid var(--polar-green-8);
    border-radius: 4px;
    &__inner {}
    &__header {
      color: var(--text-title);
      display: flex;
      justify-content: space-between;
    }
    &__title {
      margin: 7px 0px 0px 0px;
    }
    &.is-moving {
        transform: scale(1.3);
        background:  var(--surface-in-press);
    }
}

.drag-header-more {
    cursor: pointer;
}

.drag-options {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    transform: translateX(100%);
    opacity: 0;
    transition: $ease-out;

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    &-label {
        display: block;
        margin: 0 0 5px 0;

        input {
            opacity: 0.6;
        }

    }
}

/* Dragula CSS  */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
    list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}
* {
  box-sizing: border-box;
}

.drag-column {
  .drag-column-header > div {
    width: 100%;
    h2 > a {
      float: right;
    }
  }
  .drag-column-footer > div {
      margin-left: 10px;
      a {
          text-decoration: none;
          color:  var(--text-main);
          &:hover {
              text-decoration: underline;
          }
      }
  }

}
.section {
  padding: 20px;
  text-align: center;
  a {
    color:  var(--text-main);
    text-decoration: none;
    font-weight: 300;
  }
  h4 {
    font-weight: 400;
    a {
      font-weight: 600;
    }
  }
}